@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
body{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: rgb(225, 225, 225);
}

h1{
    font-size:40px;
}

header{
    display: flex;
    padding:1%;
    padding-left:5%;
    padding-right:5%;
    height: 250px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.145);
    margin-bottom: 2%;
    background-color: rgba(100, 148, 237, 0.56);
    

}
.devant{
    width: 60%;
}
.profil .ecole{
    margin-left:10%;

}

.profil{
    display: flex;
    font-size: 20px;
}
.identite{
    text-align: center;
    align-items: center;
    width: 18%;
    height: auto;

}
.identite a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    margin-top: 2%;
}

#pdp{
    width:200px;
    height:200px;
    border-radius: 100%;
    margin-left:5%;
    float: left;
    margin-bottom: 5%;
}

.champ{
    height:auto;
    width: 60%;
    padding: 3%;
    margin:auto;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: 0.5px 0 1px rgba(0, 0, 0, 0.4);
    background-color: #fff;
}

.champ label{
    font-size:20px;
    float: left;
    
}

.champ div{
    margin:1.5%;
}

.texte{
    display: flex;
    flex-direction: column;
}

.ajouter{
    background-color: cornflowerblue;
    width: 15%;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    float: right;
    text-decoration: none;
    color: white;
    margin:1%;
    font-size: 17px;
}

.annuler{
    background-color: rgba(100, 148, 237, 0.773);
    width: 15%;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    float: right;
    text-decoration: none;
    color: white;
    margin:1%;
    font-size: 17px;
}